<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>IPT</title>
        <link rel="icon" type="image/png" href="photos/espentagon.png" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="navbar">
            <div class="iptdropdown">
                <button class="iptbutton"><a href="ipt.html">IPT</a></button>
                <div class="iptmenu">
                    <a href="#">Project Management</a>
                    <a href="#">Information Systems and Databases</a>
                    <a href="commsys.html">Communication Systems</a>
                    <a href="#">Transaction Processing Systems</a>
                    <a href="#">Multimedia Systems</a>
                </div>
            </div>
            <a href="projects.html">Projects</a></li>
            <a href="index.html">Home</a></li>
        <div class="logo"><img src="photos/WebsiteLogo.svg" alt="Eddy Shao Logo"></div>
        </div>
        <div class="middle">
            <img id="gif" src=""/>
            <script>document.getElementById('gif').src="photos/iptbanner.gif?a="+Math.random()</script>
            <p>
                This website plans to cover all parts of the HSC Information Processes and Technology course, according to syllabus. <br>
                At the moment, content is only available for the third core topic, <a href="commsys.html">Communication Systems</a>.
            </p>
        </div>
    </body>
</html>
