<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Timetable</title>
        <link rel="icon" type="image/png" href ="photos/espentagon.png">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding : 15px;
        }
        tr:nth-child(even) {
            background-color: #EEEEEE;
        }
        </style>
    </head>
    <body>
        <div class="middle">
            <h1>Eddy Shao</h1>
            <h2> Week A </h2>
            <table>
                <tr> <!WEEKDAYS>
                    <th><b>PERIOD</b></th>
                    <th><b>Monday</b></th>
                    <th><b>Tuesday</b></th>
                    <th><b>Wednesday</b></th>
                    <th><b>Thursday</b></th>
                    <th><b>Friday</b></th>
                </tr>
                <tr> <!FIRST PERIOD>
                    <td><b>1</b></td>
                    <td><b>FREE</b></td>
                    <td><b>12MAE3</b><br>
                        8:55 - 10:05
                    </td>
                    <td><b>12BUS6</b><br>
                        8:55 - 10:10
                    </td>
                    <td><b>FREE</b></td>
                    <td><b>12BUS6</b><br>
                        8:55 - 10:10
                    </td>
                </tr>
                <tr> <!RECESS>
                    <td><b>RECESS</b></td>
                    <td><b>RECESS</b><br>
                        10:10 - 10:30
                    </td>
                    <td><b>RECESS</b><br>
                        10:05 - 10:25
                    </td>
                    <td><b>RECESS</b><br>
                        10:10 - 10:39
                    </td>
                    <td><b>RECESS</b><br>
                        10:10 - 10:30
                    </td>
                    <td><b>RECESS</b><br>
                        10:10 - 10:30
                    </td>
                </tr>
                <tr> <!SECOND PERIOD>
                    <td><b>2</b></td>
                    <td><b>12SSD4</b><br>
                        10:30 - 11:45
                    </td>
                    <td><b>12IPT5</b><br>
                        10:25 - 11:40
                    </td>
                    <td><b>FREE</b></td>
                    <td><b>12ENS1</b><br>
                        10:30 - 11:40
                    </td>
                    <td><b>12MAE3</b><br>
                        10:30 - 10:$5
                    </td>
                </tr>
                <tr> <!THIRD PERIOD>
                    <td><b>3</b></td>
                    <td><b>12IPT5</b><br>
                        11:55 - 13:10
                    </td>
                    <td><b>FREE</b></td>
                    <td><b>12ENS1</b><br>
                        11:50 - 13:05
                    </td>
                    <td><b>12SDD4</b><br>
                        11:50 - 13:05
                    </td>
                    <td><b>FREE</b></td>
                </tr>
                <tr> <!LUNCH>
                    <td><b>LUNCH</b></td>
                    <td><b>LUNCH</b><br>
                        13:10 - 13:50
                    </td>
                    <td><b>LUNCH</b><br>
                        13:00 - 13:40
                    </td>
                    <td><b>LUNCH</b><br>
                        13:05 - 13:45
                    </td>
                    <td><b>LUNCH</b><br>
                        13:05 - 13:35
                    </td>
                    <td><b>LUNCH</b><br>
                        13:30 - 14:10
                    </td>
                </tr>
                <tr> <!FOURTH PERIOD>
                    <td><b>4</b></td>
                    <td><b>12ENS1</b><br>
                        13:50 - 15:05
                    </td>
                    <td><b>12MAX3</b><br>
                        13:40 - 15:00
                    </td>
                    <td><b>12MAX3</b><br>
                        13:45 - 15:00
                    </td>
                    <td><b>HOME</b></td>
                    <td><b>12IPT5</b><br>
                        14:10 - 15:25
                    </td>
                </tr>
                <tr> <!FIFTH PERIOD>
                    <td><b>5</b></td>
                    <td><b>12BUS6</b><br>
                        15:10 - 16:20
                    </td>
                    <td><b>HOME</b></td>
                    <td><b>12SDD4</b><br>
                        15:05 - 16:20
                    </td>
                    <td><b>HOME</b></td>
                    <td><b>HOME</b></td>
                </tr>
            </table>
            <h2> Week B </h2>
            <table>
                <tr> <!WEEKDAYS>
                    <th><b>PERIOD</b></th>
                    <th><b>Monday</b></th>
                    <th><b>Tuesday</b></th>
                    <th><b>Wednesday</b></th>
                    <th><b>Thursday</b></th>
                    <th><b>Friday</b></th>
                </tr>
                <tr> <!FIRST PERIOD>
                    <td><b>1</b></td>
                    <td><b>12MAE3</b></td>
                    <td><b>12BUS6</b><br>
                        8:55 - 10:05
                    </td>
                    <td><b>12MAX3</b><br>
                        8:55 - 10:10
                    </td>
                    <td><b>12ENS1</b></td>
                    <td><b>12MAX3</b><br>
                        8:55 - 10:10
                    </td>
                </tr>
                <tr> <!RECESS>
                    <td><b>RECESS</b></td>
                    <td><b>RECESS</b><br>
                        10:10 - 10:30
                    </td>
                    <td><b>RECESS</b><br>
                        10:05 - 10:25
                    </td>
                    <td><b>RECESS</b><br>
                        10:10 - 10:39
                    </td>
                    <td><b>RECESS</b><br>
                        10:10 - 10:30
                    </td>
                    <td><b>RECESS</b><br>
                        10:10 - 10:30
                    </td>
                </tr>
                <tr> <!SECOND PERIOD>
                    <td><b>2</b></td>
                    <td><b>12IPT5</b><br>
                        10:30 - 11:45
                    </td>
                    <td><b>FREE</b><br>
                        10:25 - 11:40
                    </td>
                    <td><b>12ENS1</b></td>
                    <td><b>12SDD4</b><br>
                        10:30 - 11:40
                    </td>
                    <td><b>12SDD4</b><br>
                        10:30 - 10:$5
                    </td>
                </tr>
                <tr> <!THIRD PERIOD>
                    <td><b>3</b></td>
                    <td><b>FREE</b><br>
                        11:55 - 13:10
                    </td>
                    <td><b>12SDD4</b></td>
                    <td><b>12IPT5</b><br>
                        11:50 - 13:05
                    </td>
                    <td><b>12MAE3</b><br>
                        11:50 - 13:05
                    </td>
                    <td><b>12IPT5</b></td>
                </tr>
                <tr> <!LUNCH>
                    <td><b>LUNCH</b></td>
                    <td><b>LUNCH</b><br>
                        13:10 - 13:50
                    </td>
                    <td><b>LUNCH</b><br>
                        13:00 - 13:40
                    </td>
                    <td><b>LUNCH</b><br>
                        13:05 - 13:45
                    </td>
                    <td><b>LUNCH</b><br>
                        13:05 - 13:35
                    </td>
                    <td><b>LUNCH</b><br>
                        13:30 - 14:10
                    </td>
                </tr>
                <tr> <!FOURTH PERIOD>
                    <td><b>4</b></td>
                    <td><b>12BUS6</b><br>
                        13:50 - 15:05
                    </td>
                    <td><b>HOME</b><br>
                        13:40 - 15:00
                    </td>
                    <td><b>12MAE3</b><br>
                        13:45 - 15:00
                    </td>
                    <td><b>HOME</b></td>
                    <td><b>12BUS6</b><br>
                        14:10 - 15:25
                    </td>
                </tr>
                <tr> <!FIFTH PERIOD>
                    <td><b>5</b></td>
                    <td><b>12ENS1</b><br>
                        15:10 - 16:20
                    </td>
                    <td><b>HOME</b></td>
                    <td><b>HOME</b><br>
                        15:05 - 16:20
                    </td>
                    <td><b>HOME</b></td>
                    <td><b>HOME</b></td>
                </tr>
            </table>
        </div>
    </body>
</html>